/* IMAGE WEB3 */

.imagen-web3 {
  width: 100%;
}

.box-div {
  display: flex;
}

.left-div {
  width: 50%;
}

.web3-h2 {
  font-size: 78px;
  padding-right: 200px;
}

.right-div {
  width: 50%;
}

.web3-p {
  color: #c5c6ce;
  font-size: 29px;
  margin-top: 80px;
}

.web3-button {
  padding: 20px 45px;
  color: white;
  border: none;
  background-color: #f15e50;
  font-weight: 700;
  margin-top: 28px;
  border-radius: 2px;
}

/* FOOTER */

.divFooter {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.divSecciones {
  display: flex;
  height: 100%;
  width: 33%;
}

.textSeccion {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h2-Footer {
  margin-top: 0px;
  color: #c5c6ce;
  font-size: 30px;
}

.p-Footer {
  color: #5d5f79;
}
