/* IMAGE WEB3 */

.imagen-web3 {
  width: 53%;
}

.box-div {
  display: flex;
  width: 53%;
  justify-content: space-around;

}

  .left-div {
  width: 50%;

} 
.right-div {
  width: 50%;

} 

.web3-h2 {
  font-size: 40px;
  width: 54%;
}


.web3-p {
  color: #a6a5ac;
}

.web3-button {
  padding: 20px 45px;
  color: white;
  border: none;
  background-color: #f15e50;
  font-weight: 700;
  margin-top: 28px;
  border-radius: 2px;
}

/* FOOTER */

.divFooter {
  display: flex;
  justify-content: space-between;
}
.divFooter img {
  width: 110px;
  height: 140px;
}
.divSecciones {
  display: flex;
  height: 100%;
  width: 33%;
}

.textSeccion {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.h2-Footer {
  margin-top: 0px;
  color: #c5c6ce;
  font-size: 30px;
}

.p-Footer {
  color: #5d5f79;
}
